<%= form_with model: [:admin, tournament], class: "row g-3" do |f| %>
  <% if tournament.errors.any? %>
    <div class="col-12">
      <div class="alert alert-danger">
        <% tournament.errors.full_messages.each do |m| %>
          <div><%= m %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Kyiv Spring 2026" %>
  </div>

  <div class="col-md-3">
    <%= f.label :city, class: "form-label" %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="col-md-3">
    <%= f.label :country, class: "form-label" %>
    <%= f.text_field :country, class: "form-control", placeholder: "UA / US / DE..." %>
  </div>

  <div class="col-12">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control", rows: 2 %>
  </div>

  <div class="col-md-6">
    <%= f.label :total_segments_count, "Total segments (all shown to players)", class: "form-label" %>
    <%= f.number_field :total_segments_count, class: "form-control", min: 2, required: true,
          disabled: !tournament.new_record? && tournament.status != "draft" %>
    <div class="form-text">All segments players will see on the map.</div>
  </div>

  <div class="col-md-6">
    <%= f.label :rated_segments_count, "Rated segments (hidden, must complete in order)", class: "form-label" %>
    <%= f.number_field :rated_segments_count, class: "form-control", min: 1, required: true,
          disabled: !tournament.new_record? && tournament.status != "draft" %>
    <div class="form-text">Must be strictly less than total. Players don't know which ones are rated.</div>
  </div>

  <div class="col-md-4">
    <%= f.label :starts_at, "Starts at", class: "form-label" %>
    <%= f.datetime_local_field :starts_at, class: "form-control", value: tournament.starts_at&.strftime("%Y-%m-%dT%H:%M") %>
  </div>

  <div class="col-md-4">
    <%= f.label :ends_at, "Ends at", class: "form-label" %>
    <%= f.datetime_local_field :ends_at, class: "form-control", value: tournament.ends_at&.strftime("%Y-%m-%dT%H:%M") %>
  </div>

  <div class="col-md-4">
    <%= f.label :max_participants, "Max participants", class: "form-label" %>
    <%= f.number_field :max_participants, class: "form-control", placeholder: "Leave blank for unlimited" %>
  </div>

  <div class="col-12">
    <%= f.submit tournament.new_record? ? "Create Tournament" : "Update Tournament", class: "btn btn-danger" %>
    <%= link_to "Cancel", admin_tournaments_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
<% end %>
